<template>
  <require from="resources/value-converters/KeysValueConverter"></require>

  <section class="settings">
    <header>
      <h1>Settings</h1>
    </header>

    <div class="flex-card-container container-fluid settings-box" repeat.for="data of userData">
      <!-- WEIGHT UNITS -->
      <div class="flex-card flex-1 ">
        <div class="flex-card--block">
          <h4 class="flex-card--title ">Weight Unit</h4>
          <div class="flex-card--body">
            <label repeat.for="unit of appData.weight_units" class="custom-control custom-radio">
              <input name="weight-unit" type="radio" class="custom-control-input" checked.bind="data.settings.units" value.bind="unit">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">${unit}</span>
            </label>
          </div>
        </div>
      </div>
      <!-- TIMER -->
      <div class="flex-card flex-1 ">
        <div class="flex-card--block">
          <div class="flex-card--title ">
            <div class="float-md-right">
              <input class="tgl tgl-light" id="cb2" type="checkbox" checked.bind="data.settings.timer" value.bind="data.settings.timer"/>
              <label class="tgl-btn" for="cb2"></label>
            </div>Timer
            <br/>
            <small class='form-text text-muted'>
              <em>Start timer after each set</em>
            </small>
          </div>
          <div class="flex-card--body display-3 color-tomato">
            ${data.settings.timer}
          </div>
        </div>
      </div>
      <!-- AUTO ADD WEIGHT -->
      <div class="flex-card flex-1 ">
        <div class="flex-card--block">
          <div class="flex-card--title ">
            <div class="float-md-right" repeat.for="set of settings">
              <input class="tgl tgl-light" id="cb1" type="checkbox" checked.bind="set.autoAdd.auto" value.bind="data.settings.autoAdd.auto"/>
              <label class="tgl-btn" for="cb1"></label>
            </div>
            Auto-add weight
          </div>
          <div class="flex-card--body">
            <div class="form-group">
              <input type="text" class="form-control" id="howMuchWeight" aria-describedby="howMuchWeight" placeholder="How Much Weight?" value.bind="settings[0].autoAdd.weight  + ' lbs'">
              <small id="howMuchWeight" class="form-text text-muted">This weight will automatically be added once your goal is met</small>
            </div>
          </div>
        </div>
      </div>

      <!-- GRAND GOALS -->
      <div class="flex-card flex-1 ">
        <div class="flex-card--block">
          <h4 class="flex-card--title ">Grand Goals</h4>
          <div class="flex-card--body">
            <div class="form-group " repeat.for="x of data.settings.goals | keys">
              <label for="${x}" class="col-form-label">${x}</label>
              <input class="form-control" type="text" value.bind="data.settings.goals[x].weight  + ' lbs'" id="${x}">
            </div>
          </div>
        </div>
      </div>

      <!-- ASSISTANCE EXERCISES LIST -->
      <div class="flex-card flex-1 ">
        <div class="flex-card--block">
          <h4 class="flex-card--title ">Assistance Exercises</h4>
          <div class="flex-card--body">
            <div class="form-group " repeat.for="assist_exercise of appData.assistance_exercise">
              <label class="custom-control custom-checkbox">
                <span class="custom-control-description">${assist_exercise}</span>
                <input type="checkbox" class="custom-control-input" checked.bind="data.settings.assistance_exercise" value.bind="assist_exercise">
                <span class="custom-control-indicator"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- PRS -->
      <div class="flex-card flex-1 ">
        <div class="flex-card--block">
          <h4 class="flex-card--title ">Personal Records (PRS)</h4>
          <div class="flex-card--body">
            <div class="form-group " repeat.for="x of data.settings.records | keys">
              <label for="${x}" class="col-form-label">${x}</label>
              <input class="form-control" type="text" value.bind="data.settings.records[x].weight  + ' lbs'" id="${x}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
