/* === Components === */

.table-bordered {
  border-width: 3px;
}
/* Components
========================*/
@import './buttons';
@import './cards';
@import './flex-table';
@import './form/forms';
@import './navigation/navigation';
@import './navigation/side-navigation';
