/* FLEX COLUMN-TABLES
============================*/
.flex-table-container {
  height: 77vh;
  -webkit-flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  .flex-column {
    flex: 1 13.3333%;
    max-width: 13.3333%;
    border: 1px solid #212121;

    &:not(:last-child) {
      border-right: none;
    }

    .flex-column--header {
      border-bottom: 1px solid #212121;
      padding: 10px;
      font-family: $font-stack-fajalla;

      span {
        font-size: 1.75em;

        &:last-child {
          font-size: 1em;
          color: $blue;
        }
      }
    }

    .flex-column--block {
      padding: 10px;

      ul {
        list-style: none;
        padding: 15px 0;
        margin: 0;

        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }

        li {}
      }
    }
  }
}
