/* === Navigation === */
#top-controls.navbar {
  background: $dark-grey;
  //@include border-radius();
  border-radius: 0;
  font-family: $font-stack-fajalla;
  text-transform: uppercase;
  padding: 0 1rem;

  .navbar-brand {
    font-size: 1.75rem;
    color: tomato;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-height: 62px;

    i {
      padding-right: 10px;
    }
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    min-height: 62px;
    align-items: center;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  a {
    &.nav-link {
      color: #dddddd;
      font-family: $font-stack-roboto;
      font-size: 0.675rem;
      flex: 1;
      width: 45px;
      height: 45px;
      line-height: 43px;
      display: block;
      // text-align: center;
      // position: relative;
      // border-color: rgba(255,255,255,.2);
      // background: rgba(255,255,255,.05);
      &:hover {
        color: $tomato;
        //background: rgba(255,255,255,.15);
        i {
          -webkit-transform: rotate(1turn) scale(1.2);
          transform: rotate(1turn) scale(1.2);
        }
      }

      i {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 4px;
        text-align: center;
        transition: all 0.3s;

        &.icon--color {
          color: $tomato;
          z-index: 3;
        }
      }
    }
  }
}
