/* Side navigation */
.nav-wrapper {
  display: flex;
  min-height: 100%;

  .side-nav {
    width: 100%;

    .nav {
      display: flex;
      flex-flow: column;

      li {
        display: flex;
        flex-flow: row;
        align-items: center;
        min-height: 65px;
        transition: background-color 0.3s ease;
        box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);

        &.active,
        &.active:hover,
        &:focus {
          background: $gold;
          text-decoration: none;

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #fff;
          }

          a {
            color: #353535;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid #171717;
        }

        &:not(:first-child) {
          border-top: 1px solid #2b2b2b;
        }

        &:focus,
        &:hover {
          background: $tomato;
          text-decoration: none;
        }

        &:hover a {
          text-decoration: none;
          color: #353535;
        }

        a {
          position: relative;
          display: block;
          padding: 15px;
          color: #ddd;
          text-transform: uppercase;
          text-decoration: none;

          i {
            position: relative;
            top: 3px;
          }

          &:last-child {
            width: 100%;
            padding: 18px 5px;
          }
        }
      }
    }
  }
}
