<template class="au-animate">
  <section class="dashboard">
    <header>
      <h1>${heading}</h1>
    </header>

    <div class="flex-card-container container-fluid dashboard-box">
      <div class="flex-card flex-1">
        <div class="flex-card--block">
          <h4 class="flex-card--title ">Totals</h4>
          <div class="flex-card--body display-4 color-blue">
            1060lbs
          </div>
        </div>
      </div>
      <div class="flex-card flex-2">
        <div class="flex-card--block">
          <h4 class="flex-card--title">Overall Progress</h4>
          <div class="flex-card--body">
            GRAPH HERE
          </div>
        </div>
      </div>
      <div class="flex-card flex-1">
        <div class="flex-card--block">
          <h4 class="flex-card--title">Last Workout</h4>
          <div class="flex-card--body  ">
            Last workout and date
          </div>
        </div>
      </div>
      <div class="flex-card flex-1">
        <div class="flex-card--block">
          <h4 class="flex-card--title">Calendar</h4>
        </div>
      </div>
      <div class="flex-card flex-2">
        <div class="flex-card--block">
          <h4 class="flex-card--title">TITLE</h4>
        </div>
      </div>
      <div class="flex-card flex-1--auto">
        <div class="flex-card--block">
          <h4 class="flex-card--title">TITLE</h4>
        </div>
      </div>
    </div>
  </section>
</template>
