@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes offLeft {
  0% {
    left: 0;
    opacity: 1;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes offLeft {
  0% {
    left: 0;
    opacity: 1;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}
@-webkit-keyframes onLeft {
  0% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes onLeft {
  0% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes offRight {
  0% {
    left: 0;
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes offRight {
  0% {
    left: 0;
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes onRight {
  0% {
    left: -100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes onRight {
  0% {
    left: -100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
