
$font-stack-fajalla: 'Fjalla One', sans-serif;
$font-stack-roboto:'Roboto', sans-serif;

$medium-grey: rgba(65,65,65, 1);
$medium-dark-grey: #212121;
$dark-grey: #2b2b2b;

$tomato: rgba(255, 99, 71, 1);
$gold:#ffbf47;
$blue: #4787ff;



$red: rgba(176, 23, 31, 1);
//$blue: #00256f;
// #00256f - Dark Blue
// #003399 - Blue
// #B0171F - Indian red
// #1d1d1d - Dark Grey

// NOTIFICATION COLORS
