/* Workouts */

.workout {
  .step {
    position: relative;
    opacity: 0;
    display: none;

    &.au-enter {
      opacity: 1!important;
      display: flex;
    }

    &.current {
      left: 0;
      opacity: 1;
      display: flex;
    }

    &.move-left.au-enter-active {
      -webkit-animation: onLeft 0.25s ease;
      animation: onLeft 0.25s ease;
      transition: opacity 0.0s ease;
    }

    &.move-left.au-leave-active {
      -webkit-animation: offLeft 0.0s linear;
      animation: offLeft 0.0s linear;
      transition: opacity 0.0s linear;
    }

    &.move-right.au-enter-active {
      -webkit-animation: onRight 0.25s ease;
      animation: onRight 0.25s ease;
      transition: opacity 0.0s ease;
    }

    &.move-right.au-leave-active {
      -webkit-animation: offRight 0.0s linear;
      animation: offRight 0.0s linear;
      transition: opacity 0.0s linear;
    }
  }
  //progressbar
  .progressbar {
    counter-reset: step;
    width: 100%;
    margin: 30px auto;

    step-wizard {
      cursor: pointer;
      list-style-type: none;
      width: 33%;
      float: left;
      font-size: 1em;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #212121;

      &::before {
        width: 40px;
        height: 40px;
        content: counter(step);
        counter-increment: step;
        line-height: 40px;
        border: 2px solid #212121;
        display: block;
        text-align: center;
        margin: 0 auto 10px;
        border-radius: 50%;
        background-color: white;
      }

      &::after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #212121;
        top: 15px;
        left: -50%;
        z-index: -1;
      }

      &:first-child:after {
        content: none;
      }

      &.active {
        color: $tomato;

        &::before {
          border-color: $tomato;
        }

        + step-wizard::after {
          background-color: $tomato;
        }
      }
    }
  }

  .summary {
    .flex-summary-box {
      font-family: "Fjalla One", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px 0;
      border: 3px solid #414141;

      .flex-summary-item {
        flex: 1 1 33.333%;
        max-width: 33.333%;
        background: $gold;
        text-align: center;
        width: 160px;
        padding: 20px;
        margin: 0 10px;
        border: 3px solid #414141;
      }
    }

    .summary-title {
      text-align: center;
      background: #414141;
      color: #fff;
      font-family: "Fjalla One", sans-serif;
      padding: 10px 0;
    }
  }

  compose {
    margin: 0 auto;
  }

  .add-workouts,
  .microcycle,
  .summary {
    margin: 100px auto;
    font-size: 1.5em;
    line-height: 1.5em;
    // padding: 10px;
    h2 {
      font-family: $font-stack-fajalla;
      // background: $tomato;
      text-align: center;
      padding: 20px 0;
      //margin-bottom: 30px;
      &:after {
        content: " ";
        color: #fff;
        display: block;
        border-bottom: 3px $tomato solid;
        margin: 1.25rem 0 0;
        width: 20px;
        width: 4.25rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    label {
      font-family: $font-stack-fajalla;
      //border: 1px solid #212121;
      text-align: center;
      padding: 20px;
      margin-bottom: 45px;
      border-radius: 0.15rem;

      &:hover {
        background: #efefef;
        border-radius: 0.15rem;
        color: #212121;
      }

      .control-indicator {
        background: $gold;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0;
        border-radius: 0.15rem;
      }

      input[type=checkbox]:checked + .control-indicator,
      input[type=radio]:checked + .control-indicator {
        opacity: 1;
      }
    }
  }
}
